.am-intro {
  margin-bottom: 160px;
}

.am-intro__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.am-intro__content {
  align-self: center;
  max-width: 560px;
}

.am-intro__description {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #c9c9c9;
}

.am-link {
  color: #915dff;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
}

.am-link::after {
  content: "";
  display: block;
  background: #915dff;
  height: 2px;
  margin-top: 4px;
  position: relative;
  transition: 0.4s;
}

.am-link:hover::after {
  background: #fff;
}

.am-link:hover {
  color: #fff;
}
